/*   ---------------  barra de navecacion  ----------------------  */
body {
    margin: 0;
    background-color: rgb(255, 169, 226);
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 1, 255);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #ff1f1f;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/*   ---------------  index  ----------------------  */

.bindex{
    text-align: center;
}
.ulindex{
    text-align: left;
}
.imgin{
    width: 150px;
}

/*   ---------------  footer  ----------------------  */

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }


/*   ---------------  pedido  ----------------------  */




/*   ---------------  nosotros  ----------------------  */




/*   ---------------  dashboard  ----------------------  */


